<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/%08Pandas_Module_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 리스트형 데이터를 이용한 DataFrame 생성

import pandas as pd

lst=[[1,95,48,88],
     [2,85,88,93],
     [3,80,70,]]

df1=pd.DataFrame(lst,columns=["번호","국어","영어","수학"])
df1

   번호  국어  영어    수학
0   1  95  48  88.0
1   2  85  88  93.0
2   3  80  70   NaN

In [3]:
# 딕셔너리형 데이터를 이용한 DataFrame 생성

import pandas as pd
dic={"번호":[1,2,3,4,5],
     "국어":[80,85,80,90,90],
     "영어":[70,75,80,85,90],
     "수학":[80,80,90,80,90]}

df1=pd.DataFrame(dic)
df1

   번호  국어  영어  수학
0   1  80  70  80
1   2  85  75  80
2   3  80  80  90
3   4  90  85  80
4   5  90  90  90

In [4]:
import pandas as pd

df1=pd.read_csv("지역_위치별(주유소)_utf8.csv")
df1

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1899,1714,-
1,서울특별시,현대오일뱅크(주)직영 산성셀프주유소,서울 강남구 헌릉로 730,현대오일뱅크,02-2226-4963,Y,2090,1905,1800,-
2,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1907,1739,-
3,서울특별시,대교주유소,서울 강남구 강남대로 640 (신사동),SK에너지,02-512-5521,N,2090,1940,1810,-
4,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),S-OIL,02-2226-5188,Y,-,1967,1798,1300
5,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2099,1979,1835,-
6,서울특별시,SK에너지㈜ 진달래주유소,서울 강남구 도곡로 208,SK에너지,02-3462-0018,N,2099,1979,1899,-
7,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2119,1979,1835,-
8,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1992,1887,-
9,서울특별시,SK서광주유소,서울 강남구 역삼로 142,SK에너지,02-562-4855,Y,2145,1995,1845,-
10,서울특별시,(주)중앙에너비스 수서지점,서울 강남구 광평로 202 (수서동),SK에너지,070-8707-4582,Y,2195,1995,1895,-
11,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2134,1997,1850,1600
12,서울특별시,(주)선진도곡주유소,서울 강남구 도곡로 162 (도곡동),S-OIL,02-2058-3024,N,2149,1999,1899,-
13,서울특별시,에스제이에너지산업(주) 개포주유소,서울 강남구 양재대로 339,GS칼텍스,02-573-9031,N,2335,2028,1928,1650
14,서울특별시,지에스칼텍스㈜에너지플러스허브GS타워,서울 강남구 논현로 516 (역삼동),GS칼텍스,02-539-5145,N,2212,2052,1933,-
15,서울특별시,대동석유 압구정주유소,서울 강남구 언주로 842 (신사동),SK에너지,02-545-6161,Y,2187,2057,1957,-
16,서울특별시,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,SK에너지,02-544-4075,Y,2187,2057,1957,-
17,서울특별시,현대오일뱅크㈜직영 삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,N,2144,2058,1924,-
18,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2239,2089,1969,-
19,서울특별시,SK에너지(주) 매봉주유소,서울 강남구 언주로 307,SK에너지,02-556-5510,Y,2214,2089,2049,-
20,서울특별시,현대오일뱅크(주)직영 신사현대주유소,서울 강남구 도산대로 163 (신사동),현대오일뱅크,02-546-2182,N,2398,2144,1997,-
21,서울특별시,현대오일뱅크(주)직영 한양주유소,서울 강남구 압구정로 302 (신사동),현대오일뱅크,02-3444-0804,N,2285,2144,1997,-
22,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,GS칼텍스,02-3452-1882,N,2308,2158,2064,-
23,서울특별시,대성석유(주)동호주유소,서울 강남구 봉은사로113길 51,GS칼텍스,02-545-0720,N,2293,2193,1999,-
24,서울특별시,명품주유소,서울 강남구 도곡로 249 (역삼동),S-OIL,02-501-1256,N,2344,2209,2092,-
25,서울특별시,지에스칼텍스㈜ 삼성로주유소,서울 강남구 삼성로 563 (삼성동),GS칼텍스,02-538-5138,Y,2378,2228,2125,-
26,서울특별시,㈜새서울석유 새서울주유소,서울 강남구 압구정로 154,현대오일뱅크,02-543-1154,N,2437,2238,2098,-
27,서울특별시,대청주유소,서울 강남구 개포로 654 (일원동),SK에너지,02-445-5500,N,2446,2256,2089,1656
28,서울특별시,지에스칼텍스(주)학여울주유소,서울 강남구 남부순환로 3170 (일원2동),GS칼텍스,02-459-8829,N,2584,2329,2242,-
29,서울특별시,SK논현주유소,서울 강남구 논현로 747 (논현동),SK에너지,02-511-0955,N,2525,2355,2160,1655
30,서울특별시,갤러리아주유소,서울 강남구 압구정로 426,SK에너지,02-540-4965,N,2528,2358,2127,1600
31,서울특별시,(주)소모에너지 쎈트럴주유소,서울 강남구 삼성로 335,GS칼텍스,02-565-0267,N,2583,2394,2162,1300
32,서울특별시,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),GS칼텍스,02-518-5141,N,2598,2398,2164,1699
33,서울특별시,제이제이주유소,서울 강남구 언주로 716,현대오일뱅크,02-518-5631,N,2715,2545,2335,-
34,서울특별시,경원주유소,서울 강남구 도산대로 428 (청담동),S-OIL,02-517-1957,N,-,-,-,-
35,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,02-538-0809,N,-,-,-,-
36,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,02-542-6726,N,-,-,-,-

In [14]:
# pip install xlrd
!pip install openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [16]:
pip install xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)

In [18]:
pip install --upgrade pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [2]:
pip install --upgrade xlrd

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xlrd in /usr/local/lib/python3.7/dist-packages (1.1.0)
Collecting xlrd
  Downloading xlrd-2.0.1-py2.py3-none-any.whl (96 kB)
     |████████████████████████████████| 96 kB 3.1 MB/s
Installing collected packages: xlrd
  Attempting uninstall: xlrd
    Found existing installation: xlrd 1.1.0
    Uninstalling xlrd-1.1.0:
      Successfully uninstalled xlrd-1.1.0
Successfully installed xlrd-2.0.1

In [24]:
pip list

Package                       Version
----------------------------- ------------------------------
absl-py                       1.1.0
alabaster                     0.7.12
albumentations                0.1.12
altair                        4.2.0
appdirs                       1.4.4
argon2-cffi                   21.3.0
argon2-cffi-bindings          21.2.0
arviz                         0.12.1
astor                         0.8.1
astropy                       4.3.1
astunparse                    1.6.3
atari-py                      0.2.9
atomicwrites                  1.4.0
attrs                         21.4.0
audioread                     2.1.9
autograd                      1.4
Babel                         2.10.1
backcall                      0.2.0
beautifulsoup4                4.6.3
bleach                        5.0.0
blis                          0.4.1
bokeh                         2.3.3
Bottleneck                    1.3.4
branca                        0.5.0
bs4                           0.0.1
CacheControl                  0.12.11
cached-property               1.5.2
cachetools                    4.2.4
catalogue                     1.0.0
certifi                       2022.5.18.1
cffi                          1.15.0
cftime                        1.6.0
chardet                       3.0.4
charset-normalizer            2.0.12
click                         7.1.2
cloudpickle                   1.3.0
cmake                         3.22.5
cmdstanpy                     0.9.5
colorcet                      3.0.0
colorlover                    0.3.0
community                     1.0.0b1
contextlib2                   0.5.5
convertdate                   2.4.0
coverage                      3.7.1
coveralls                     0.5
crcmod                        1.7
cufflinks                     0.17.3
cvxopt                        1.2.7
cvxpy                         1.0.31
cycler                        0.11.0
cymem                         2.0.6
Cython                        0.29.30
daft                          0.0.4
dask                          2.12.0
datascience                   0.10.6
debugpy                       1.0.0
decorator                     4.4.2
defusedxml                    0.7.1
descartes                     1.1.0
dill                          0.3.5.1
distributed                   1.25.3
dlib                          19.18.0+zzzcolab20220513001918
dm-tree                       0.1.7
docopt                        0.6.2
docutils                      0.17.1
dopamine-rl                   1.0.5
earthengine-api               0.1.312
easydict                      1.9
ecos                          2.0.10
editdistance                  0.5.3
en-core-web-sm                2.2.5
entrypoints                   0.4
ephem                         4.1.3
et-xmlfile                    1.1.0
fa2                           0.3.5
fastai                        1.0.61
fastdtw                       0.3.4
fastjsonschema                2.15.3
fastprogress                  1.0.2
fastrlock                     0.8
fbprophet                     0.7.1
feather-format                0.4.1
filelock                      3.7.1
firebase-admin                4.4.0
fix-yahoo-finance             0.0.22
Flask                         1.1.4
flatbuffers                   2.0
folium                        0.8.3
future                        0.16.0
gast                          0.5.3
GDAL                          2.2.2
gdown                         4.4.0
gensim                        3.6.0
geographiclib                 1.52
geopy                         1.17.0
gin-config                    0.5.0
glob2                         0.7
google                        2.0.3
google-api-core               1.31.6
google-api-python-client      1.12.11
google-auth                   1.35.0
google-auth-httplib2          0.0.4
google-auth-oauthlib          0.4.6
google-cloud-bigquery         1.21.0
google-cloud-bigquery-storage 1.1.2
google-cloud-core             1.0.3
google-cloud-datastore        1.8.0
google-cloud-firestore        1.7.0
google-cloud-language         1.2.0
google-cloud-storage          1.18.1
google-cloud-translate        1.5.0
google-colab                  1.0.0
google-pasta                  0.2.0
google-resumable-media        0.4.1
googleapis-common-protos      1.56.2
googledrivedownloader         0.4
graphviz                      0.10.1
greenlet                      1.1.2
grpcio                        1.46.3
gspread                       3.4.2
gspread-dataframe             3.0.8
gym                           0.17.3
h5py                          3.1.0
HeapDict                      1.0.1
hijri-converter               2.2.4
holidays                      0.10.5.2
holoviews                     1.14.9
html5lib                      1.0.1
httpimport                    0.5.18
httplib2                      0.17.4
httplib2shim                  0.0.3
humanize                      0.5.1
hyperopt                      0.1.2
ideep4py                      2.0.0.post3
idna                          2.10
imageio                       2.4.1
imagesize                     1.3.0
imbalanced-learn              0.8.1
imblearn                      0.0
imgaug                        0.2.9
importlib-metadata            4.11.4
importlib-resources           5.7.1
imutils                       0.5.4
inflect                       2.1.0
iniconfig                     1.1.1
intel-openmp                  2022.1.0
intervaltree                  2.1.0
ipykernel                     4.10.1
ipython                       5.5.0
ipython-genutils              0.2.0
ipython-sql                   0.3.9
ipywidgets                    7.7.0
itsdangerous                  1.1.0
jax                           0.3.8
jaxlib                        0.3.7+cuda11.cudnn805
jedi                          0.18.1
jieba                         0.42.1
Jinja2                        2.11.3
joblib                        1.1.0
jpeg4py                       0.1.4
jsonschema                    4.3.3
jupyter                       1.0.0
jupyter-client                5.3.5
jupyter-console               5.2.0
jupyter-core                  4.10.0
jupyterlab-pygments           0.2.2
jupyterlab-widgets            1.1.0
kaggle                        1.5.12
kapre                         0.3.7
keras                         2.8.0
Keras-Preprocessing           1.1.2
keras-vis                     0.4.1
kiwisolver                    1.4.2
korean-lunar-calendar         0.2.1
libclang                      14.0.1
librosa                       0.8.1
lightgbm                      2.2.3
llvmlite                      0.34.0
lmdb                          0.99
LunarCalendar                 0.0.9
lxml                          4.2.6
Markdown                      3.3.7
MarkupSafe                    2.0.1
matplotlib                    3.2.2
matplotlib-inline             0.1.3
matplotlib-venn               0.11.7
missingno                     0.5.1
mistune                       0.8.4
mizani                        0.6.0
mkl                           2019.0
mlxtend                       0.14.0
more-itertools                8.13.0
moviepy                       0.2.3.5
mpmath                        1.2.1
msgpack                       1.0.4
multiprocess                  0.70.13
multitasking                  0.0.10
murmurhash                    1.0.7
music21                       5.5.0
natsort                       5.5.0
nbclient                      0.6.4
nbconvert                     5.6.1
nbformat                      5.4.0
nest-asyncio                  1.5.5
netCDF4                       1.5.8
networkx                      2.6.3
nibabel                       3.0.2
nltk                          3.7
notebook                      5.3.1
numba                         0.51.2
numexpr                       2.8.1
numpy                         1.21.6
nvidia-ml-py3                 7.352.0
oauth2client                  4.1.3
oauthlib                      3.2.0
okgrade                       0.4.3
opencv-contrib-python         4.1.2.30
opencv-python                 4.1.2.30
openpyxl                      3.0.10
opt-einsum                    3.3.0
osqp                          0.6.2.post0
packaging                     21.3
palettable                    3.3.0
pandas                        1.3.5
pandas-datareader             0.9.0
pandas-gbq                    0.13.3
pandas-profiling              1.4.1
pandocfilters                 1.5.0
panel                         0.12.1
param                         1.12.1
parso                         0.8.3
pathlib                       1.0.1
patsy                         0.5.2
pep517                        0.12.0
pexpect                       4.8.0
pickleshare                   0.7.5
Pillow                        7.1.2
pip                           21.1.3
pip-tools                     6.2.0
plac                          1.1.3
plotly                        5.5.0
plotnine                      0.6.0
pluggy                        0.7.1
pooch                         1.6.0
portpicker                    1.3.9
prefetch-generator            1.0.1
preshed                       3.0.6
prettytable                   3.3.0
progressbar2                  3.38.0
prometheus-client             0.14.1
promise                       2.3
prompt-toolkit                1.0.18
protobuf                      3.17.3
psutil                        5.4.8
psycopg2                      2.7.6.1
ptyprocess                    0.7.0
py                            1.11.0
pyarrow                       6.0.1
pyasn1                        0.4.8
pyasn1-modules                0.2.8
pycocotools                   2.0.4
pycparser                     2.21
pyct                          0.4.8
pydata-google-auth            1.4.0
pydot                         1.3.0
pydot-ng                      2.0.0
pydotplus                     2.0.2
PyDrive                       1.3.1
pyemd                         0.5.1
pyerfa                        2.0.0.1
pyglet                        1.5.0
Pygments                      2.6.1
pygobject                     3.26.1
pymc3                         3.11.4
PyMeeus                       0.5.11
pymongo                       4.1.1
pymystem3                     0.2.0
PyOpenGL                      3.1.6
pyparsing                     3.0.9
pyrsistent                    0.18.1
pysndfile                     1.3.8
PySocks                       1.7.1
pystan                        2.19.1.1
pytest                        3.6.4
python-apt                    0.0.0
python-chess                  0.23.11
python-dateutil               2.8.2
python-louvain                0.16
python-slugify                6.1.2
python-utils                  3.3.3
pytz                          2022.1
pyviz-comms                   2.2.0
PyWavelets                    1.3.0
PyYAML                        3.13
pyzmq                         23.1.0
qdldl                         0.1.5.post2
qtconsole                     5.3.1
QtPy                          2.1.0
regex                         2022.6.2
requests                      2.23.0
requests-oauthlib             1.3.1
resampy                       0.2.2
rpy2                          3.4.5
rsa                           4.8
scikit-image                  0.18.3
scikit-learn                  1.0.2
scipy                         1.4.1
screen-resolution-extra       0.0.0
scs                           3.2.0
seaborn                       0.11.2
semver                        2.13.0
Send2Trash                    1.8.0
setuptools                    57.4.0
setuptools-git                1.2
Shapely                       1.8.2
simplegeneric                 0.8.1
six                           1.15.0
sklearn                       0.0
sklearn-pandas                1.8.0
smart-open                    6.0.0
snowballstemmer               2.2.0
sortedcontainers              2.4.0
SoundFile                     0.10.3.post1
soupsieve                     2.3.2.post1
spacy                         2.2.4
Sphinx                        1.8.6
sphinxcontrib-serializinghtml 1.1.5
sphinxcontrib-websupport      1.2.4
SQLAlchemy                    1.4.37
sqlparse                      0.4.2
srsly                         1.0.5
statsmodels                   0.10.2
sympy                         1.7.1
tables                        3.7.0
tabulate                      0.8.9
tblib                         1.7.0
tenacity                      8.0.1
tensorboard                   2.8.0
tensorboard-data-server       0.6.1
tensorboard-plugin-wit        1.8.1
tensorflow                    2.8.2+zzzcolab20220527125636
tensorflow-datasets           4.0.1
tensorflow-estimator          2.8.0
tensorflow-gcs-config         2.8.0
tensorflow-hub                0.12.0
tensorflow-io-gcs-filesystem  0.26.0
tensorflow-metadata           1.8.0
tensorflow-probability        0.16.0
termcolor                     1.1.0
terminado                     0.13.3
testpath                      0.6.0
text-unidecode                1.3
textblob                      0.15.3
Theano-PyMC                   1.1.2
thinc                         7.4.0
threadpoolctl                 3.1.0
tifffile                      2021.11.2
tinycss2                      1.1.1
tomli                         2.0.1
toolz                         0.11.2
torch                         1.11.0+cu113
torchaudio                    0.11.0+cu113
torchsummary                  1.5.1
torchtext                     0.12.0
torchvision                   0.12.0+cu113
tornado                       5.1.1
tqdm                          4.64.0
traitlets                     5.1.1
tweepy                        3.10.0
typeguard                     2.7.1
typing-extensions             4.2.0
tzlocal                       1.5.1
uritemplate                   3.0.1
urllib3                       1.24.3
vega-datasets                 0.9.0
wasabi                        0.9.1
wcwidth                       0.2.5
webencodings                  0.5.1
Werkzeug                      1.0.1
wheel                         0.37.1
widgetsnbextension            3.6.0
wordcloud                     1.5.0
wrapt                         1.14.1
xarray                        0.20.2
xarray-einstats               0.2.2
xgboost                       0.90
xkit                          0.0.0
xlrd                          1.1.0
xlwt                          1.3.0
yellowbrick                   1.4
zict                          2.2.0
zipp                          3.8.0

In [26]:
!pip install --upgrade openpyxl

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: openpyxl in /usr/local/lib/python3.7/dist-packages (3.0.10)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.7/dist-packages (from openpyxl) (1.1.0)

In [1]:
import pandas as pd
df1=pd.read_excel("지역_위치별(주유소).xlsx")
df1

,지역_위치별(주유소),Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,(단위 : 원/리터)
1,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
2,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1899,1714,-
3,서울특별시,현대오일뱅크(주)직영 산성셀프주유소,서울 강남구 헌릉로 730,현대오일뱅크,02-2226-4963,Y,2090,1905,1800,-
4,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1907,1739,-
5,서울특별시,대교주유소,서울 강남구 강남대로 640 (신사동),SK에너지,02-512-5521,N,2090,1940,1810,-
6,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),S-OIL,02-2226-5188,Y,-,1967,1798,1300
7,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2099,1979,1835,-
8,서울특별시,SK에너지㈜ 진달래주유소,서울 강남구 도곡로 208,SK에너지,02-3462-0018,N,2099,1979,1899,-
9,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2119,1979,1835,-
10,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1992,1887,-
11,서울특별시,SK서광주유소,서울 강남구 역삼로 142,SK에너지,02-562-4855,Y,2145,1995,1845,-
12,서울특별시,(주)중앙에너비스 수서지점,서울 강남구 광평로 202 (수서동),SK에너지,070-8707-4582,Y,2195,1995,1895,-
13,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2134,1997,1850,1600
14,서울특별시,(주)선진도곡주유소,서울 강남구 도곡로 162 (도곡동),S-OIL,02-2058-3024,N,2149,1999,1899,-
15,서울특별시,에스제이에너지산업(주) 개포주유소,서울 강남구 양재대로 339,GS칼텍스,02-573-9031,N,2335,2028,1928,1650
16,서울특별시,지에스칼텍스㈜에너지플러스허브GS타워,서울 강남구 논현로 516 (역삼동),GS칼텍스,02-539-5145,N,2212,2052,1933,-
17,서울특별시,대동석유 압구정주유소,서울 강남구 언주로 842 (신사동),SK에너지,02-545-6161,Y,2187,2057,1957,-
18,서울특별시,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,SK에너지,02-544-4075,Y,2187,2057,1957,-
19,서울특별시,현대오일뱅크㈜직영 삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,N,2144,2058,1924,-
20,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2239,2089,1969,-
21,서울특별시,SK에너지(주) 매봉주유소,서울 강남구 언주로 307,SK에너지,02-556-5510,Y,2214,2089,2049,-
22,서울특별시,현대오일뱅크(주)직영 신사현대주유소,서울 강남구 도산대로 163 (신사동),현대오일뱅크,02-546-2182,N,2398,2144,1997,-
23,서울특별시,현대오일뱅크(주)직영 한양주유소,서울 강남구 압구정로 302 (신사동),현대오일뱅크,02-3444-0804,N,2285,2144,1997,-
24,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,GS칼텍스,02-3452-1882,N,2308,2158,2064,-
25,서울특별시,대성석유(주)동호주유소,서울 강남구 봉은사로113길 51,GS칼텍스,02-545-0720,N,2293,2193,1999,-
26,서울특별시,명품주유소,서울 강남구 도곡로 249 (역삼동),S-OIL,02-501-1256,N,2344,2209,2092,-
27,서울특별시,지에스칼텍스㈜ 삼성로주유소,서울 강남구 삼성로 563 (삼성동),GS칼텍스,02-538-5138,Y,2378,2228,2125,-
28,서울특별시,㈜새서울석유 새서울주유소,서울 강남구 압구정로 154,현대오일뱅크,02-543-1154,N,2437,2238,2098,-
29,서울특별시,대청주유소,서울 강남구 개포로 654 (일원동),SK에너지,02-445-5500,N,2446,2256,2089,1656
30,서울특별시,지에스칼텍스(주)학여울주유소,서울 강남구 남부순환로 3170 (일원2동),GS칼텍스,02-459-8829,N,2584,2329,2242,-
31,서울특별시,SK논현주유소,서울 강남구 논현로 747 (논현동),SK에너지,02-511-0955,N,2525,2355,2160,1655
32,서울특별시,갤러리아주유소,서울 강남구 압구정로 426,SK에너지,02-540-4965,N,2528,2358,2127,1600
33,서울특별시,(주)소모에너지 쎈트럴주유소,서울 강남구 삼성로 335,GS칼텍스,02-565-0267,N,2583,2394,2162,1300
34,서울특별시,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),GS칼텍스,02-518-5141,N,2598,2398,2164,1699
35,서울특별시,제이제이주유소,서울 강남구 언주로 716,현대오일뱅크,02-518-5631,N,2715,2545,2335,-
36,서울특별시,경원주유소,서울 강남구 도산대로 428 (청담동),S-OIL,02-517-1957,N,-,-,-,-
37,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,02-538-0809,N,-,-,-,-
38,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,02-542-6726,N,-,-,-,-

In [2]:
import pandas as pd

df1=pd.read_json("df_sample.json")
df1

      algol basic c++
Jerry     A     C  B+
Riah     A+     B   C
Paul      B    B+  C+

###판다스 데이터 관리

In [5]:
import pandas as pd

df1=pd.read_csv("지역_위치별(주유소)_utf8.csv")
df1

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1899,1714,-
1,서울특별시,현대오일뱅크(주)직영 산성셀프주유소,서울 강남구 헌릉로 730,현대오일뱅크,02-2226-4963,Y,2090,1905,1800,-
2,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1907,1739,-
3,서울특별시,대교주유소,서울 강남구 강남대로 640 (신사동),SK에너지,02-512-5521,N,2090,1940,1810,-
4,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),S-OIL,02-2226-5188,Y,-,1967,1798,1300
5,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,2099,1979,1835,-
6,서울특별시,SK에너지㈜ 진달래주유소,서울 강남구 도곡로 208,SK에너지,02-3462-0018,N,2099,1979,1899,-
7,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,2119,1979,1835,-
8,서울특별시,자곡셀프주유소,서울 강남구 밤고개로 120 (자곡동),SK에너지,02-445-5841,Y,-,1992,1887,-
9,서울특별시,SK서광주유소,서울 강남구 역삼로 142,SK에너지,02-562-4855,Y,2145,1995,1845,-
10,서울특별시,(주)중앙에너비스 수서지점,서울 강남구 광평로 202 (수서동),SK에너지,070-8707-4582,Y,2195,1995,1895,-
11,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,2134,1997,1850,1600
12,서울특별시,(주)선진도곡주유소,서울 강남구 도곡로 162 (도곡동),S-OIL,02-2058-3024,N,2149,1999,1899,-
13,서울특별시,에스제이에너지산업(주) 개포주유소,서울 강남구 양재대로 339,GS칼텍스,02-573-9031,N,2335,2028,1928,1650
14,서울특별시,지에스칼텍스㈜에너지플러스허브GS타워,서울 강남구 논현로 516 (역삼동),GS칼텍스,02-539-5145,N,2212,2052,1933,-
15,서울특별시,대동석유 압구정주유소,서울 강남구 언주로 842 (신사동),SK에너지,02-545-6161,Y,2187,2057,1957,-
16,서울특별시,(유)동하석유 힐탑셀프주유소,서울 강남구 논현로 640,SK에너지,02-544-4075,Y,2187,2057,1957,-
17,서울특별시,현대오일뱅크㈜직영 삼성동주유소,서울 강남구 테헤란로 619 (삼성동),현대오일뱅크,02-508-6572,N,2144,2058,1924,-
18,서울특별시,에쓰-오일㈜직영 개나리주유소,서울 강남구 언주로 423 (역삼동),S-OIL,02-564-0187,N,2239,2089,1969,-
19,서울특별시,SK에너지(주) 매봉주유소,서울 강남구 언주로 307,SK에너지,02-556-5510,Y,2214,2089,2049,-
20,서울특별시,현대오일뱅크(주)직영 신사현대주유소,서울 강남구 도산대로 163 (신사동),현대오일뱅크,02-546-2182,N,2398,2144,1997,-
21,서울특별시,현대오일뱅크(주)직영 한양주유소,서울 강남구 압구정로 302 (신사동),현대오일뱅크,02-3444-0804,N,2285,2144,1997,-
22,서울특별시,지에스칼텍스㈜ 은마주유소,서울 강남구 영동대로 235,GS칼텍스,02-3452-1882,N,2308,2158,2064,-
23,서울특별시,대성석유(주)동호주유소,서울 강남구 봉은사로113길 51,GS칼텍스,02-545-0720,N,2293,2193,1999,-
24,서울특별시,명품주유소,서울 강남구 도곡로 249 (역삼동),S-OIL,02-501-1256,N,2344,2209,2092,-
25,서울특별시,지에스칼텍스㈜ 삼성로주유소,서울 강남구 삼성로 563 (삼성동),GS칼텍스,02-538-5138,Y,2378,2228,2125,-
26,서울특별시,㈜새서울석유 새서울주유소,서울 강남구 압구정로 154,현대오일뱅크,02-543-1154,N,2437,2238,2098,-
27,서울특별시,대청주유소,서울 강남구 개포로 654 (일원동),SK에너지,02-445-5500,N,2446,2256,2089,1656
28,서울특별시,지에스칼텍스(주)학여울주유소,서울 강남구 남부순환로 3170 (일원2동),GS칼텍스,02-459-8829,N,2584,2329,2242,-
29,서울특별시,SK논현주유소,서울 강남구 논현로 747 (논현동),SK에너지,02-511-0955,N,2525,2355,2160,1655
30,서울특별시,갤러리아주유소,서울 강남구 압구정로 426,SK에너지,02-540-4965,N,2528,2358,2127,1600
31,서울특별시,(주)소모에너지 쎈트럴주유소,서울 강남구 삼성로 335,GS칼텍스,02-565-0267,N,2583,2394,2162,1300
32,서울특별시,(주)만정에너지,서울 강남구 봉은사로 433 (삼성동),GS칼텍스,02-518-5141,N,2598,2398,2164,1699
33,서울특별시,제이제이주유소,서울 강남구 언주로 716,현대오일뱅크,02-518-5631,N,2715,2545,2335,-
34,서울특별시,경원주유소,서울 강남구 도산대로 428 (청담동),S-OIL,02-517-1957,N,-,-,-,-
35,서울특별시,삼성주유소,서울 강남구 삼성로 521 (삼성동),SK에너지,02-538-0809,N,-,-,-,-
36,서울특별시,동우주유소,서울특별시 강남구 봉은사로 311 (논현동),SK에너지,02-542-6726,N,-,-,-,-

In [7]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 37 entries, 0 to 36
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   지역      37 non-null     object
 1   상호      37 non-null     object
 2   주소      37 non-null     object
 3   상표      37 non-null     object
 4   전화번호    37 non-null     object
 5   셀프여부    37 non-null     object
 6   고급휘발유   37 non-null     object
 7   휘발유     37 non-null     object
 8   경유      37 non-null     object
 9   실내등유    37 non-null     object
dtypes: object(10)
memory usage: 3.0+ KB

In [9]:
df1.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1899,1714,-
1,서울특별시,현대오일뱅크(주)직영 산성셀프주유소,서울 강남구 헌릉로 730,현대오일뱅크,02-2226-4963,Y,2090,1905,1800,-
2,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1907,1739,-
3,서울특별시,대교주유소,서울 강남구 강남대로 640 (신사동),SK에너지,02-512-5521,N,2090,1940,1810,-
4,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),S-OIL,02-2226-5188,Y,-,1967,1798,1300

In [10]:
df1.head(2)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1899,1714,-
1,서울특별시,현대오일뱅크(주)직영 산성셀프주유소,서울 강남구 헌릉로 730,현대오일뱅크,02-2226-4963,Y,2090,1905,1800,-

In [11]:
print(df1.columns)

Index(['지역', '상호', '주소', '상표', '전화번호', '셀프여부', '고급휘발유', '휘발유', '경유', '실내등유'], dtype='object')

In [15]:
df1["휘발유"]
df1[["경유","휘발유"]]
display(df1[["상표","주소"]])
df2=df1[["상표","주소"]]

        상표                         주소
0    SK에너지      서울 강남구  헌릉로 731 (세곡동)
1   현대오일뱅크             서울 강남구 헌릉로 730
2    GS칼텍스      서울 강남구 밤고개로 215 (율현동)
3    SK에너지      서울 강남구 강남대로 640 (신사동)
4    S-OIL     서울 강남구 양재대로55길 3 (일원동)
5    SK에너지    서울 강남구 남부순환로 2651 (도곡동)
6    SK에너지             서울 강남구 도곡로 208
7   현대오일뱅크  서울 강남구  남부순환로 2718 (도곡2동)
8    SK에너지      서울 강남구 밤고개로 120 (자곡동)
9    SK에너지             서울 강남구 역삼로 142
10   SK에너지       서울 강남구 광평로 202 (수서동)
11  현대오일뱅크       서울 강남구 논현로 152 (도곡동)
12   S-OIL       서울 강남구 도곡로 162 (도곡동)
13   GS칼텍스            서울 강남구 양재대로 339
14   GS칼텍스       서울 강남구 논현로 516 (역삼동)
15   SK에너지       서울 강남구 언주로 842 (신사동)
16   SK에너지             서울 강남구 논현로 640
17  현대오일뱅크      서울 강남구 테헤란로 619 (삼성동)
18   S-OIL       서울 강남구 언주로 423 (역삼동)
19   SK에너지             서울 강남구 언주로 307
20  현대오일뱅크      서울 강남구 도산대로 163 (신사동)
21  현대오일뱅크      서울 강남구 압구정로 302 (신사동)
22   GS칼텍스            서울 강남구 영동대로 235
23   GS칼텍스         서울 강남구 봉은사로113길 51
24   S-OIL       서울 강남구 도곡로 249 (역삼동)
25   GS칼텍스       서울 강남구 삼성로 563 (삼성동)
26  현대오일뱅크            서울 강남구 압구정로 154
27   SK에너지       서울 강남구 개포로 654 (일원동)
28   GS칼텍스   서울 강남구 남부순환로 3170 (일원2동)
29   SK에너지       서울 강남구 논현로 747 (논현동)
30   SK에너지            서울 강남구 압구정로 426
31   GS칼텍스             서울 강남구 삼성로 335
32   GS칼텍스      서울 강남구 봉은사로 433 (삼성동)
33  현대오일뱅크             서울 강남구 언주로 716
34   S-OIL      서울 강남구 도산대로 428 (청담동)
35   SK에너지       서울 강남구 삼성로 521 (삼성동)
36   SK에너지  서울특별시 강남구  봉은사로 311 (논현동)

In [16]:
df2.describe()# 데이터가 모두 문자로 텍스트 관련 통계만 보여줌 #기술통계

           상표                     주소
count      37                     37
unique      4                     37
top     SK에너지  서울 강남구  헌릉로 731 (세곡동)
freq       15                      1

In [19]:
df1.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유
0,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1899,1714,-
1,서울특별시,현대오일뱅크(주)직영 산성셀프주유소,서울 강남구 헌릉로 730,현대오일뱅크,02-2226-4963,Y,2090,1905,1800,-
2,서울특별시,방죽주유소,서울 강남구 밤고개로 215 (율현동),GS칼텍스,02-459-3434,Y,-,1907,1739,-
3,서울특별시,대교주유소,서울 강남구 강남대로 640 (신사동),SK에너지,02-512-5521,N,2090,1940,1810,-
4,서울특별시,일원주유소,서울 강남구 양재대로55길 3 (일원동),S-OIL,02-2226-5188,Y,-,1967,1798,1300

In [22]:
df1.loc[0]
df1.loc[1:3,["휘발유","경유"]]

    휘발유    경유
1  1905  1800
2  1907  1739
3  1940  1810

In [23]:
df2=df1.loc[1:10, ["셀프여부","휘발유", "경유", "상표"]]
df2

   셀프여부   휘발유    경유      상표
1     Y  1905  1800  현대오일뱅크
2     Y  1907  1739   GS칼텍스
3     N  1940  1810   SK에너지
4     Y  1967  1798   S-OIL
5     Y  1979  1835   SK에너지
6     N  1979  1899   SK에너지
7     Y  1979  1835  현대오일뱅크
8     Y  1992  1887   SK에너지
9     Y  1995  1845   SK에너지
10    Y  1995  1895   SK에너지

In [25]:
df2.head()

  셀프여부   휘발유    경유      상표
1    Y  1905  1800  현대오일뱅크
2    Y  1907  1739   GS칼텍스
3    N  1940  1810   SK에너지
4    Y  1967  1798   S-OIL
5    Y  1979  1835   SK에너지

In [28]:
df2

   셀프여부   휘발유    경유      상표
1     Y  1905  1800  현대오일뱅크
2     Y  1907  1739   GS칼텍스
3     N  1940  1810   SK에너지
4     Y  1967  1798   S-OIL
5     Y  1979  1835   SK에너지
6     N  1979  1899   SK에너지
7     Y  1979  1835  현대오일뱅크
8     Y  1992  1887   SK에너지
9     Y  1995  1845   SK에너지
10    Y  1995  1895   SK에너지

In [31]:
## iloc[] : 데이터의 행/열 인덱싱된 값을 기준으로 출력
df2.iloc[0]
df2.iloc[1:5]
df2.iloc[1:5, 0]
df2.iloc[1:5, 1:]
df2.iloc[1:5, [0,1,3]]

  셀프여부   휘발유     상표
2    Y  1907  GS칼텍스
3    N  1940  SK에너지
4    Y  1967  S-OIL
5    Y  1979  SK에너지

In [32]:
lst=[]
for i in df2.index:
  lst.append(int(df2.loc[i,["휘발유"]]))

print(lst)

[1905, 1907, 1940, 1967, 1979, 1979, 1979, 1992, 1995, 1995]

In [34]:
df2["휘발유"] = lst
df2.dtypes

셀프여부    object
휘발유      int64
경유      object
상표      object
dtype: object

In [35]:
df3=df1.loc[1:10, ["셀프여부","휘발유", "경유", "상표"]]
print(df3.dtypes)
print(len(df3))

셀프여부    object
휘발유     object
경유      object
상표      object
dtype: object
10

In [36]:
df3 = df3.astype({"경유":int, "휘발유":float})
print(df3.dtypes)

셀프여부     object
휘발유     float64
경유        int64
상표       object
dtype: object

In [37]:
df3.describe()

               휘발유           경유
count    10.000000    10.000000
mean   1963.800000  1834.300000
std      34.473178    50.475627
min    1905.000000  1739.000000
25%    1946.750000  1802.500000
50%    1979.000000  1835.000000
75%    1988.750000  1876.500000
max    1995.000000  1899.000000

In [39]:
###replace
df1["휘발유"].replace("-",0,inplace=True)
print(df1.휘발유)

0     1899
1     1905
2     1907
3     1940
4     1967
5     1979
6     1979
7     1979
8     1992
9     1995
10    1995
11    1997
12    1999
13    2028
14    2052
15    2057
16    2057
17    2058
18    2089
19    2089
20    2144
21    2144
22    2158
23    2193
24    2209
25    2228
26    2238
27    2256
28    2329
29    2355
30    2358
31    2394
32    2398
33    2545
34       0
35       0
36       0
Name: 휘발유, dtype: object

In [40]:
df1=df1.astype({"휘발유":int})
print(df1.dtypes)

지역       object
상호       object
주소       object
상표       object
전화번호     object
셀프여부     object
고급휘발유    object
휘발유       int64
경유       object
실내등유     object
dtype: object