<a href="https://colab.research.google.com/github/Welle-Kim/Based-on-the-Review/blob/master/%ED%95%9C%EA%B0%9C_%EC%B6%94%EC%B6%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [49]:
df=pd.read_csv("KETI_MULTIMODAL_0000001043_20220708_163014.csv")
df

,Index,Modification,Speaker,Start Time,End Time,Script
0,1,인식결과,NaN,360,1500,이사장
1,1,수정결과,NaN,360,1500,이사장
2,2,인식결과,NaN,4440,5980,너무 서운해 하지 마
3,2,수정결과,NaN,4440,5980,너무 서운해 하지 마
4,3,인식결과,NaN,6720,9800,이 사장도 내 위치 되면 내 마음 이해할 거야
5,3,수정결과,NaN,6720,9800,이 사장도 내 위치 되면 내 마음 이해할 거야
6,4,인식결과,NaN,13660,14920,아니요.
7,4,수정결과,NaN,13660,14920,아니요.
8,5,인식결과,NaN,15080,18740,제가 혹시라도 나중에 이사님 같은 위치가 되면
9,5,수정결과,NaN,15080,18740,제가 혹시라도 나중에 이사님 같은 위치가 되면
10,6,인식결과,NaN,19680,22000,다른 선택을 하고 싶어요.
11,6,수정결과,NaN,19680,22000,다른 선택을 하고 싶어요.
12,7,인식결과,NaN,24380,26480,좀 뒤처지더라도
13,7,수정결과,NaN,24380,26480,좀 뒤처지더라도
14,8,인식결과,NaN,27140,28660,같이 가는
15,8,수정결과,NaN,27140,28660,같이 가는
16,9,인식결과,NaN,28760,29740,그래
17,9,수정결과,NaN,28760,29740,그래
18,10,인식결과,NaN,33720,35960,기대해 볼게
19,10,수정결과,NaN,33720,35960,기대해 볼게

In [51]:
sample_df=df.iloc[0:19:2,-1]
sample_df

0                           이사장
2                   너무 서운해 하지 마
4     이 사장도 내 위치 되면 내 마음 이해할 거야
6                          아니요.
8     제가 혹시라도 나중에 이사님 같은 위치가 되면
10               다른 선택을 하고 싶어요.
12                     좀 뒤처지더라도
14                        같이 가는
16                           그래
18                       기대해 볼게
Name: Script, dtype: object

In [53]:
script=[]
for i in sample_df:
  script.append(i)

In [54]:
script

['이사장',
 '너무 서운해 하지 마',
 '이 사장도 내 위치 되면 내 마음 이해할 거야',
 '아니요.',
 '제가 혹시라도 나중에 이사님 같은 위치가 되면',
 '다른 선택을 하고 싶어요.',
 '좀 뒤처지더라도',
 '같이 가는',
 '그래',
 '기대해 볼게']